body {
	font-family: 'Rosario', sans-serif;
	font-size: 1.4em;
	color:#666;
}
h1,h2,h3,h4,h5,h6,.navbar-brand {
	font-family: 'Permanent Marker', cursive;
	text-shadow:2px 2px 4px #999;
}
.site-thumbnail {
	margin-bottom:25px;
}
.site-thumbnail img {
	margin-top:5px;
	-webkit-box-shadow: 2px 2px 10px rgba(50, 50, 50, 0.57);
	-moz-box-shadow:    2px 2px 10px rgba(50, 50, 50, 0.57);
	box-shadow:         2px 2px 10px rgba(50, 50, 50, 0.57);
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a, .dropdown-menu>li>a {
	color: #666;
}
.navbar-brand.logo {
	font-size:1.8em;
	color:#FF0099;
}
.acb-thumb, .acb-youtube-thumb {
	cursor: pointer;
}
.acb-full-image {
	display:inline-block;
	max-width:95%;
	max-height:95%;
	-webkit-box-shadow: 2px 2px 10px rgba(50, 50, 50, 0.57);
	-moz-box-shadow:    2px 2px 10px rgba(50, 50, 50, 0.57);
	box-shadow:         2px 2px 10px rgba(50, 50, 50, 0.57);
}
.modal-body {
	text-align: center;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}

.recent-activity {
	width:500px;
	position:relative;
	padding:10px;
	text-align:center;
}
.recent-activity-body {
	text-align:left;
	padding:25px;
}

.recent-activity .date {
	font-size: 0.8em;
}
.recent-activity .user {
	font-size: 0.8em;
	font-weight: bold;
}
.recent-activity .img-thumbnail {
	max-width: 450px;
	max-height: 450px;
	left:50%;
}

.recent-activity .activity-stamp {
	/* margin:5px 0px 15px 15px; */
	text-align:left;
	margin:0px 0px 5px 0px;
	padding:5px;
}

.social-icon,
.recent-activity .activity-icon {
	display: block;
	/* background-color:green; */
	width: 32px;
	height: 32px;
	float:left;
	margin-right: 5px;
	/* position: absolute;
	left:-16px;
	top:-16px; */
}
.social-icon {
	margin-right:3px;
}

.social-icon.flickr,
.recent-activity .activity-icon.flickr {
	background-image:url('http://images.rishisatsangi.com/social-media-icons/flickr-32-32.png');
}
.social-icon.instagram,
.recent-activity .activity-icon.instagram {
	background-image:url('http://images.rishisatsangi.com/social-media-icons/instagram-32-32.png');
}
.social-icon.photo,
.recent-activity .activity-icon.photo {
	background-image:url('http://images.rishisatsangi.com/social-media-icons/photo-32-32.png');
}
.social-icon.twitter,
.recent-activity .activity-icon.twitter {
	background-image:url('http://images.rishisatsangi.com/social-media-icons/twitter-32-32.png');
}
.social-icon.email,
.recent-activity .activity-icon.email {
	background-image:url('http://images.rishisatsangi.com/social-media-icons/email-32-32.png');
}
.social-icon.deviantart,
.recent-activity .activity-icon.deviantart {
	background-image:url('http://images.rishisatsangi.com/social-media-icons/deviantart-32-32.png');
}
.social-icon.tumblr,
.recent-activity .activity-icon.tumblr {
	background-image:url('http://images.rishisatsangi.com/social-media-icons/tumblr-32-32.png');
}
.social-icon.comment,
.recent-activity .activity-icon.comment {
	background-image:url('http://images.rishisatsangi.com/social-media-icons/comment-32-32.png');
}
.social-icon.foursquare,
.recent-activity .activity-icon.foursquare {
	background-image:url('http://images.rishisatsangi.com/social-media-icons/foursquare-32-32.png');
}




div.container.recent-activity {
	float:left;
	text-align:left;
}

span.title {
	font-size:1em;
	text-shadow:-1px -1px 2px #CCC;
}

ul.contact {
	list-style-type: none;
}
ul.contact > li {
	display: block;
	clear:both;
	margin:0px 0px 15px 0px;
}
ul.contact a {
	float:left;
	margin-top:7px;
}