body {
	font-family: 'Share', cursive;
	font-size: 1.4em;
	color:#AAA;
}
.site-thumbnail {
	margin-bottom:25px;
}
.site-thumbnail img {
	-webkit-box-shadow: 2px 2px 10px rgba(50, 50, 50, 0.57);
	-moz-box-shadow:    2px 2px 10px rgba(50, 50, 50, 0.57);
	box-shadow:         2px 2px 10px rgba(50, 50, 50, 0.57);
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a, .dropdown-menu>li>a {
	color: #AAA;
}