 <div ng-repeat="feed in data">
    <h3 class="col-md-6">{{feed.name}}</h3>
    <div class="clearfix"></div>
    <a href="{{feed.site_url}}" target="_blank">{{feed.site_url}}</a><br />
    <div class="col-md-6 clearfix" ng-if="feed.description">
    <blockquote ng-bind-html="feed.description|unsafe"></blockquote>
    <div>
    <div class="clearfix"></div>

		<div class="row" ng-if="feed.items.length>0">
			<div ng-repeat="item in feed.items" class="site-thumbnail col-md-9">
				<strong>{{item.title}}</strong><br />
				<small>{{item.date_modified}}</small>
				<br />
				<div ng-bind-html="item.content|unsafe"></div>
				<div class="clearfix"></div>
			</div>

		</div>
</div>