 <div ng-repeat="title in data">
    <h2>{{title.name}}</h2>
    <div class="clearfix"></div>
    <div class="col-md-6 clearfix" ng-if="title.description">
    <blockquote ng-bind-html="title.description|unsafe"></blockquote>
    <div>
    <div class="clearfix"></div>

		<div class="row" ng-if="title.issues.length>0">
			<div ng-repeat="issue in title.issues" class="site-thumbnail col-md-4">
				<strong>Issue #{{$index + 1}}:</strong> {{issue.name}}<br />
				<a href="#/issues/{{issue.id}}"><img src="{{issue.page_one_image_url|resizeImage:180:180}}" class="img-rounded"></a>
				<br /><small>{{issue.page_count}} pages</small>
			</div>
		</div>
</div>