{% extends 'layout.html.twig' %}

{% block title %}{{parent()}} - artwerks by Rishi Satsangi{% endblock %}

  {% block opengraph_meta %}
  		{{parent()}}
		<meta property="og:title" content="RishiSatsangi.com - artwerks by Rishi Satsangi">
		<meta property="og:description" content="Illustration, animation, and more by Rishi Satsangi">
		<meta property="og:image" content="http://imgsrc.artistcontrolbox.com/images/contents/2.jpg">
  {% endblock %} 

{% block headscript %}
{% endblock %}

{% block body %}
	{{ parent() }}
	<div class="container">
		
		<h1>Connect</h1>
			<ul class="connect">
				<li>
					<span class="social-icon email"></span> <a href="mailto:thepresident@rishisatsangi.com">thepresident@rishisatsangi.com</a><br />
				</li>
				<li>
					<span class="social-icon twitter"></span> <a href="http://twitter.com/dethbird" target="_blank">@dethbird</a><br />
				</li>
				<li>
					<span class="social-icon instagram"></span> <a href="http://twitter.com/dethbird" target="_blank">@dethbird</a><br />
				</li>
				<li>
					<span class="social-icon deviantart"></span> <a href="http://dethbird-art.deviantart.com/" target="_blank">@dethbird-art<br />
				</li>
				<li>
					<span class="social-icon tumblr"></span> <a href="http://sneh.tumblr.com/" target="_blank">@sneh</a><br />
				</li>
			</ul>

	</div>

	<!-- <div class="row"><pre>{{recentActivity|print_r}}</pre></div> -->
{% endblock %}

