body {
  font-family: 'Open Sans', sans-serif;
  background-color: #2075A0;
}
.card.clickable {
  cursor: pointer;
}
.card.clickable:hover {
  background-color: #e5e5e5;
}
.card.col-lg-6:nth-child(2n+1) {
  clear: both;
}
.card img {
  max-width: 100%;
  height: auto;
}
