.react-datepicker__tether-element-attached-top .react-datepicker__triangle,
.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle,
.react-datepicker__year-read-view--down-arrow {
  margin-left: -8px;
  position: absolute;
}
.react-datepicker__tether-element-attached-top .react-datepicker__triangle,
.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle,
.react-datepicker__year-read-view--down-arrow,
.react-datepicker__tether-element-attached-top .react-datepicker__triangle::before,
.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before,
.react-datepicker__year-read-view--down-arrow::before {
  box-sizing: content-box;
  position: absolute;
  border: 8px solid transparent;
  height: 0;
  width: 1px;
}
.react-datepicker__tether-element-attached-top .react-datepicker__triangle::before,
.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before,
.react-datepicker__year-read-view--down-arrow::before {
  content: "";
  z-index: -1;
  border-width: 8px;
  left: -8px;
  border-bottom-color: #aeaeae;
}
.react-datepicker__tether-element-attached-top .react-datepicker__triangle {
  top: 0;
  margin-top: -8px;
}
.react-datepicker__tether-element-attached-top .react-datepicker__triangle,
.react-datepicker__tether-element-attached-top .react-datepicker__triangle::before {
  border-top: none;
  border-bottom-color: #f0f0f0;
}
.react-datepicker__tether-element-attached-top .react-datepicker__triangle::before {
  top: -1px;
  border-bottom-color: #aeaeae;
}
.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle,
.react-datepicker__year-read-view--down-arrow {
  bottom: 0;
  margin-bottom: -8px;
}
.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle,
.react-datepicker__year-read-view--down-arrow,
.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before,
.react-datepicker__year-read-view--down-arrow::before {
  border-bottom: none;
  border-top-color: #fff;
}
.react-datepicker__tether-element-attached-bottom .react-datepicker__triangle::before,
.react-datepicker__year-read-view--down-arrow::before {
  bottom: -1px;
  border-top-color: #aeaeae;
}
.react-datepicker {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  background-color: #fff;
  color: #000;
  border: 1px solid #aeaeae;
  border-radius: 4px;
  display: inline-block;
  position: relative;
}
.react-datepicker__triangle {
  position: absolute;
  left: 50px;
}
.react-datepicker__tether-element-attached-bottom.react-datepicker__tether-element {
  margin-top: -20px;
}
.react-datepicker__header {
  text-align: center;
  background-color: #f0f0f0;
  border-bottom: 1px solid #aeaeae;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-top: 8px;
  position: relative;
}
.react-datepicker__current-month {
  margin-top: 0;
  color: #000;
  font-weight: bold;
  font-size: 13px;
}
.react-datepicker__current-month--hasYearDropdown {
  margin-bottom: 16px;
}
.react-datepicker__navigation {
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 10px;
  width: 0;
  border: 6px solid transparent;
}
.react-datepicker__navigation--previous {
  left: 10px;
  border-right-color: #ccc;
}
.react-datepicker__navigation--previous:hover {
  border-right-color: #b3b3b3;
}
.react-datepicker__navigation--next {
  right: 10px;
  border-left-color: #ccc;
}
.react-datepicker__navigation--next:hover {
  border-left-color: #b3b3b3;
}
.react-datepicker__navigation--years {
  position: relative;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.react-datepicker__navigation--years-previous {
  top: 4px;
  border-top-color: #ccc;
}
.react-datepicker__navigation--years-previous:hover {
  border-top-color: #b3b3b3;
}
.react-datepicker__navigation--years-upcoming {
  top: -4px;
  border-bottom-color: #ccc;
}
.react-datepicker__navigation--years-upcoming:hover {
  border-bottom-color: #b3b3b3;
}
.react-datepicker__month {
  margin: 5px;
  text-align: center;
}
.react-datepicker__day-name,
.react-datepicker__day {
  color: #000;
  display: inline-block;
  width: 24px;
  line-height: 24px;
  text-align: center;
  margin: 2px;
}
.react-datepicker__day {
  cursor: pointer;
}
.react-datepicker__day:hover {
  border-radius: 4px;
  background-color: #f0f0f0;
}
.react-datepicker__day--today {
  font-weight: bold;
}
.react-datepicker__day--selected,
.react-datepicker__day--in-range {
  border-radius: 4px;
  background-color: #216ba5;
  color: #fff;
}
.react-datepicker__day--selected:hover,
.react-datepicker__day--in-range:hover {
  background-color: #1d5d90;
}
.react-datepicker__day--disabled {
  cursor: default;
  color: #ccc;
}
.react-datepicker__day--disabled:hover {
  background-color: transparent;
}
.react-datepicker__input-container {
  position: relative;
  display: inline-block;
}
.react-datepicker__year-read-view {
  width: 50%;
  left: 25%;
  position: absolute;
  bottom: 25px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.react-datepicker__year-read-view:hover {
  cursor: pointer;
}
.react-datepicker__year-read-view:hover .react-datepicker__year-read-view--down-arrow {
  border-top-color: #b3b3b3;
}
.react-datepicker__year-read-view--down-arrow {
  border-top-color: #ccc;
  margin-bottom: 3px;
  left: 5px;
  top: 9px;
  position: relative;
  border-width: 6px;
}
.react-datepicker__year-read-view--selected-year {
  right: 6px;
  position: relative;
}
.react-datepicker__year-dropdown {
  background-color: #f0f0f0;
  position: absolute;
  width: 50%;
  left: 25%;
  top: 30px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #aeaeae;
}
.react-datepicker__year-dropdown:hover {
  cursor: pointer;
}
.react-datepicker__year-option {
  line-height: 20px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.react-datepicker__year-option:first-of-type {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.react-datepicker__year-option:last-of-type {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.react-datepicker__year-option:hover {
  background-color: #ccc;
}
.react-datepicker__year-option:hover .react-datepicker__navigation--years-upcoming {
  border-bottom-color: #b3b3b3;
}
.react-datepicker__year-option:hover .react-datepicker__navigation--years-previous {
  border-top-color: #b3b3b3;
}
.react-datepicker__year-option--selected {
  position: absolute;
  left: 30px;
}
.react-datepicker__close-icon {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  height: 0;
  outline: 0;
  padding: 0;
  vertical-align: middle;
}
.react-datepicker__close-icon::after {
  background-color: #216ba5;
  border-radius: 50%;
  bottom: 0;
  box-sizing: border-box;
  color: #fff;
  content: "\00d7";
  cursor: pointer;
  font-size: 12px;
  height: 16px;
  width: 16px;
  line-height: 1;
  margin: -8px auto 0;
  padding: 2px;
  position: absolute;
  right: 7px;
  text-align: center;
  top: 50%;
}
.react-datepicker__today-button {
  background: #f0f0f0;
  border-top: 1px solid #aeaeae;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
}
.react-datepicker__tether-element {
  z-index: 2147483647;
}
blockquote {
  padding: 15px;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #2075A0;
}
.card.clickable {
  cursor: pointer;
}
.card.clickable:hover {
  background-color: #eeeeee;
}
.card.clickable:hover .card-header,
.card.clickable:hover .card-footer {
  background-color: #e4e4e4;
}
.card.col-lg-6:nth-child(2n+1) {
  clear: both;
}
.card.col-xs-4:nth-child(3n+1) {
  clear: both;
}
.card img {
  max-width: 100%;
  height: auto;
}
[class^=col-lg] {
  padding-left: 0;
  padding-right: 0;
}
.comment.resolved {
  opacity: 0.9;
  background-color: #eeeeee;
  color: #818a91;
}
.comment.resolved blockquote {
  text-decoration: line-through;
}
.container {
  position: relative;
}
.fountain {
  font-family: 'Ubuntu Mono', monospace;
}
.section-header {
  color: #e5e5e5;
  font-weight: bold;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
/** CSS LOADER **/
#cssload-loader {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  width: 124px;
}
#cssload-loader ul {
  margin: 0;
  list-style: none;
  width: 124px;
  height: 89px;
  position: relative;
  padding: 0;
}
#cssload-loader ul li {
  position: absolute;
  width: 3px;
  height: 0;
  background-color: #58A3C9;
  bottom: 0;
}
#cssload-loader li:nth-child(1) {
  left: 0;
  animation: cssload-sequence1 0.95s ease infinite 0;
  -o-animation: cssload-sequence1 0.95s ease infinite 0;
  -ms-animation: cssload-sequence1 0.95s ease infinite 0;
  -webkit-animation: cssload-sequence1 0.95s ease infinite 0;
  -moz-animation: cssload-sequence1 0.95s ease infinite 0;
}
#cssload-loader li:nth-child(2) {
  left: 21px;
  animation: cssload-sequence2 0.95s ease infinite 0.095s;
  -o-animation: cssload-sequence2 0.95s ease infinite 0.095s;
  -ms-animation: cssload-sequence2 0.95s ease infinite 0.095s;
  -webkit-animation: cssload-sequence2 0.95s ease infinite 0.095s;
  -moz-animation: cssload-sequence2 0.95s ease infinite 0.095s;
}
#cssload-loader li:nth-child(3) {
  left: 41px;
  animation: cssload-sequence1 0.95s ease-in-out infinite 0.19s;
  -o-animation: cssload-sequence1 0.95s ease-in-out infinite 0.19s;
  -ms-animation: cssload-sequence1 0.95s ease-in-out infinite 0.19s;
  -webkit-animation: cssload-sequence1 0.95s ease-in-out infinite 0.19s;
  -moz-animation: cssload-sequence1 0.95s ease-in-out infinite 0.19s;
}
#cssload-loader li:nth-child(4) {
  left: 62px;
  animation: cssload-sequence2 0.95s ease-in infinite 0.285s;
  -o-animation: cssload-sequence2 0.95s ease-in infinite 0.285s;
  -ms-animation: cssload-sequence2 0.95s ease-in infinite 0.285s;
  -webkit-animation: cssload-sequence2 0.95s ease-in infinite 0.285s;
  -moz-animation: cssload-sequence2 0.95s ease-in infinite 0.285s;
}
#cssload-loader li:nth-child(5) {
  left: 83px;
  animation: cssload-sequence1 0.95s ease-in-out infinite 0.38s;
  -o-animation: cssload-sequence1 0.95s ease-in-out infinite 0.38s;
  -ms-animation: cssload-sequence1 0.95s ease-in-out infinite 0.38s;
  -webkit-animation: cssload-sequence1 0.95s ease-in-out infinite 0.38s;
  -moz-animation: cssload-sequence1 0.95s ease-in-out infinite 0.38s;
}
#cssload-loader li:nth-child(6) {
  left: 103px;
  animation: cssload-sequence2 0.95s ease infinite 0.475s;
  -o-animation: cssload-sequence2 0.95s ease infinite 0.475s;
  -ms-animation: cssload-sequence2 0.95s ease infinite 0.475s;
  -webkit-animation: cssload-sequence2 0.95s ease infinite 0.475s;
  -moz-animation: cssload-sequence2 0.95s ease infinite 0.475s;
}
@keyframes cssload-sequence1 {
  0% {
    height: 14px;
  }
  50% {
    height: 69px;
  }
  100% {
    height: 14px;
  }
}
@-o-keyframes cssload-sequence1 {
  0% {
    height: 14px;
  }
  50% {
    height: 69px;
  }
  100% {
    height: 14px;
  }
}
@-ms-keyframes cssload-sequence1 {
  0% {
    height: 14px;
  }
  50% {
    height: 69px;
  }
  100% {
    height: 14px;
  }
}
@-webkit-keyframes cssload-sequence1 {
  0% {
    height: 14px;
  }
  50% {
    height: 69px;
  }
  100% {
    height: 14px;
  }
}
@-moz-keyframes cssload-sequence1 {
  0% {
    height: 14px;
  }
  50% {
    height: 69px;
  }
  100% {
    height: 14px;
  }
}
@keyframes cssload-sequence2 {
  0% {
    height: 28px;
  }
  50% {
    height: 89px;
  }
  100% {
    height: 28px;
  }
}
@-o-keyframes cssload-sequence2 {
  0% {
    height: 28px;
  }
  50% {
    height: 89px;
  }
  100% {
    height: 28px;
  }
}
@-ms-keyframes cssload-sequence2 {
  0% {
    height: 28px;
  }
  50% {
    height: 89px;
  }
  100% {
    height: 28px;
  }
}
@-webkit-keyframes cssload-sequence2 {
  0% {
    height: 28px;
  }
  50% {
    height: 89px;
  }
  100% {
    height: 28px;
  }
}
@-moz-keyframes cssload-sequence2 {
  0% {
    height: 28px;
  }
  50% {
    height: 89px;
  }
  100% {
    height: 28px;
  }
}
