/* LESS Document */
a,
a:hover,
a:visited {
  cursor: pointer;
  color: #E7120E;
}
.btn-info {
  color: white !important;
}
blockquote {
  padding: 15px;
}
body {
  font-family: 'Hind Vadodara', sans-serif;
  background-color: #000;
  color: #FFF;
  overflow-x: hidden;
}
.btn-xs {
  padding: .18rem .35rem;
  font-size: .7rem;
  line-height: 1.5;
  border-radius: .2rem;
}
.col-lg-2:nth-child(5n+1) {
  clear: both;
}
.col-xs-2:nth-child(5n+1) {
  clear: both;
}
.col-lg-3:nth-child(4n+1) {
  clear: both;
}
.col-xs-3:nth-child(4n+1) {
  clear: both;
}
.contact-info i {
  color: #f5b20a;
}
.contact-info .col-xs-1 {
  text-align: right;
  padding: 0px 10px 0px 0px;
}
.img-round-corners {
  border-top-left-radius: 2em;
  border-bottom-right-radius: 2em;
}
.contact-info .col-xs-10 {
  text-align: left;
  padding-left: 0;
}
.markdown {
  text-align: left;
  max-width: 700px;
  display: inline-block;
}
.object {
  position: absolute;
}
.portfolio-breadcrumb {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  margin-bottom: 15px;
  text-align: left;
}
.portfolio-breadcrumb .btn {
  margin-left: 5px;
}
.section-header {
  font-family: 'Work Sans', sans-serif;
}
.subtitle {
  color: #f5b20a;
}
.text-align-center {
  text-align: center;
}
/** Objects **/
#intro_hydrant {
  position: absolute;
  border-top-left-radius: 2em;
  border-bottom-right-radius: 2em;
  top: 41px;
  left: 309px;
  width: 1301px;
  height: 756px;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  #intro_hydrant {
    top: 30.75px;
    left: 231.75px;
    width: 975.75px;
    height: 567px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  #intro_hydrant {
    top: 27.33333333px;
    left: 206px;
    width: 867.33333333px;
    height: 504px;
  }
}
#intro_shoes {
  position: absolute;
  top: 0px;
  left: 1219px;
  width: 377px;
  height: 583px;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  #intro_shoes {
    top: 0px;
    left: 914.25px;
    width: 282.75px;
    height: 437.25px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  #intro_shoes {
    top: 0px;
    left: 812.66666667px;
    width: 251.33333333px;
    height: 388.66666667px;
  }
}
#intro_signature {
  position: absolute;
  top: 0px;
  left: 36px;
  width: 893px;
  height: 381px;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  #intro_signature {
    top: 0px;
    left: 27px;
    width: 669.75px;
    height: 285.75px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  #intro_signature {
    top: 0px;
    left: 24px;
    width: 595.33333333px;
    height: 254px;
  }
}
#intro_tagline {
  position: absolute;
  top: 460px;
  left: 1060px;
  width: 592px;
  height: 368px;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  #intro_tagline {
    top: 345px;
    left: 795px;
    width: 444px;
    height: 276px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  #intro_tagline {
    top: 306.66666667px;
    left: 706.66666667px;
    width: 394.66666667px;
    height: 245.33333333px;
  }
}
.image-display {
  max-height: 725px;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  .image-display {
    max-height: 543.75px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .image-display {
    max-height: 483.33333333px;
  }
}
.image-modal {
  max-height: 500px;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  .image-modal {
    max-height: 375px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .image-modal {
    max-height: 333.33333333px;
  }
}
#great_button {
  position: absolute;
  top: 672px;
  left: 857px;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  #great_button {
    top: 504px;
    left: 642.75px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  #great_button {
    top: 448px;
    left: 571.33333333px;
  }
}
.pocket-article {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0px 10px 10px 10px;
  margin-bottom: 25px;
}
.pocket-article img {
  max-width: 640px;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  .pocket-article img {
    max-width: 480px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .pocket-article img {
    max-width: 426.66666667px;
  }
}
#portfolio_background {
  position: absolute;
  border-top-left-radius: 2em;
  border-bottom-right-radius: 2em;
  top: 863px;
  left: 0px;
  width: 1919px;
  height: 1024px;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  #portfolio_background {
    top: 647.25px;
    left: 0px;
    width: 1439.25px;
    height: 768px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  #portfolio_background {
    top: 575.33333333px;
    left: 0px;
    width: 1279.33333333px;
    height: 682.66666667px;
  }
}
#portfolio_title_parallax02 {
  position: absolute;
  top: 855px;
  left: 175px;
  width: 273px;
  height: 83px;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  #portfolio_title_parallax02 {
    top: 641.25px;
    left: 131.25px;
    width: 204.75px;
    height: 62.25px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  #portfolio_title_parallax02 {
    top: 570px;
    left: 116.66666667px;
    width: 182px;
    height: 55.33333333px;
  }
}
#portfolio_title_parallax01 {
  position: absolute;
  top: 850px;
  left: 169px;
  width: 288px;
  height: 87px;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  #portfolio_title_parallax01 {
    top: 637.5px;
    left: 126.75px;
    width: 216px;
    height: 65.25px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  #portfolio_title_parallax01 {
    top: 566.66666667px;
    left: 112.66666667px;
    width: 192px;
    height: 58px;
  }
}
#portfolio_title {
  position: absolute;
  top: 846px;
  left: 161px;
  width: 303px;
  height: 91px;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  #portfolio_title {
    top: 634.5px;
    left: 120.75px;
    width: 227.25px;
    height: 68.25px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  #portfolio_title {
    top: 564px;
    left: 107.33333333px;
    width: 202px;
    height: 60.66666667px;
  }
}
#portfolio_neonsign01 {
  position: absolute;
  top: 1650px;
  left: 78px;
  width: 174px;
  height: 214px;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  #portfolio_neonsign01 {
    top: 1237.5px;
    left: 58.5px;
    width: 130.5px;
    height: 160.5px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  #portfolio_neonsign01 {
    top: 1100px;
    left: 52px;
    width: 116px;
    height: 142.66666667px;
  }
}
#portfolio_neonsign02 {
  position: absolute;
  top: 1513px;
  left: 257px;
  width: 214px;
  height: 244px;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  #portfolio_neonsign02 {
    top: 1134.75px;
    left: 192.75px;
    width: 160.5px;
    height: 183px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  #portfolio_neonsign02 {
    top: 1008.66666667px;
    left: 171.33333333px;
    width: 142.66666667px;
    height: 162.66666667px;
  }
}
#portfolio {
  position: absolute;
  top: 990px;
  left: 0px;
  width: 1900px;
  height: 800px;
  overflow-x: hidden;
  overflow-y: auto;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  #portfolio {
    top: 742.5px;
    left: 0px;
    width: 1425px;
    height: 600px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  #portfolio {
    top: 660px;
    left: 0px;
    width: 1266.66666667px;
    height: 533.33333333px;
  }
}
#whatido_background {
  position: absolute;
  border-top-left-radius: 2em;
  border-bottom-right-radius: 2em;
  top: 2016px;
  left: 203px;
  width: 1514px;
  height: 862px;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  #whatido_background {
    top: 1512px;
    left: 152.25px;
    width: 1135.5px;
    height: 646.5px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  #whatido_background {
    top: 1344px;
    left: 135.33333333px;
    width: 1009.33333333px;
    height: 574.66666667px;
  }
}
#whatido_title_parallax02 {
  position: absolute;
  top: 1942px;
  left: 185px;
  width: 394px;
  height: 101px;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  #whatido_title_parallax02 {
    top: 1456.5px;
    left: 138.75px;
    width: 295.5px;
    height: 75.75px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  #whatido_title_parallax02 {
    top: 1294.66666667px;
    left: 123.33333333px;
    width: 262.66666667px;
    height: 67.33333333px;
  }
}
#whatido_title_parallax01 {
  position: absolute;
  top: 1939px;
  left: 174px;
  width: 416px;
  height: 107px;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  #whatido_title_parallax01 {
    top: 1454.25px;
    left: 130.5px;
    width: 312px;
    height: 80.25px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  #whatido_title_parallax01 {
    top: 1292.66666667px;
    left: 116px;
    width: 277.33333333px;
    height: 71.33333333px;
  }
}
#whatido_title {
  position: absolute;
  top: 1936px;
  left: 163px;
  width: 438px;
  height: 113px;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  #whatido_title {
    top: 1452px;
    left: 122.25px;
    width: 328.5px;
    height: 84.75px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  #whatido_title {
    top: 1290.66666667px;
    left: 108.66666667px;
    width: 292px;
    height: 75.33333333px;
  }
}
#whatido_copy {
  position: absolute;
  top: 2016px;
  left: 203px;
  width: 1514px;
  height: 862px;
}
#whatido_copy a,
#whatido_copy a:hover,
#whatido_copy a:visited {
  color: #f5b20a;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  #whatido_copy {
    top: 1512px;
    left: 152.25px;
    width: 1135.5px;
    height: 646.5px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  #whatido_copy {
    top: 1344px;
    left: 135.33333333px;
    width: 1009.33333333px;
    height: 574.66666667px;
  }
}
#whatido_copy_markup,
#info_copy_markup {
  top: 8%;
  padding: 60px;
  text-shadow: 1px 2px 4px #000;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  #whatido_copy_markup,
  #info_copy_markup {
    top: 6%;
    padding: 45px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  #whatido_copy_markup,
  #info_copy_markup {
    top: 5.33333333%;
    padding: 40px;
  }
}
#info_background {
  position: absolute;
  border-top-left-radius: 2em;
  border-bottom-right-radius: 2em;
  top: 3046px;
  left: 226px;
  width: 1433px;
  height: 897px;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  #info_background {
    top: 2284.5px;
    left: 169.5px;
    width: 1074.75px;
    height: 672.75px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  #info_background {
    top: 2030.66666667px;
    left: 150.66666667px;
    width: 955.33333333px;
    height: 598px;
  }
}
#info_title_parallax02 {
  position: absolute;
  top: 2987px;
  left: 183px;
  width: 357px;
  height: 134px;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  #info_title_parallax02 {
    top: 2240.25px;
    left: 137.25px;
    width: 267.75px;
    height: 100.5px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  #info_title_parallax02 {
    top: 1991.33333333px;
    left: 122px;
    width: 238px;
    height: 89.33333333px;
  }
}
#info_title_parallax01 {
  position: absolute;
  top: 2983px;
  left: 173px;
  width: 377px;
  height: 140px;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  #info_title_parallax01 {
    top: 2237.25px;
    left: 129.75px;
    width: 282.75px;
    height: 105px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  #info_title_parallax01 {
    top: 1988.66666667px;
    left: 115.33333333px;
    width: 251.33333333px;
    height: 93.33333333px;
  }
}
#info_title {
  position: absolute;
  top: 2977px;
  left: 163px;
  width: 397px;
  height: 148px;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  #info_title {
    top: 2232.75px;
    left: 122.25px;
    width: 297.75px;
    height: 111px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  #info_title {
    top: 1984.66666667px;
    left: 108.66666667px;
    width: 264.66666667px;
    height: 98.66666667px;
  }
}
#info_copy {
  position: absolute;
  top: 3046px;
  left: 226px;
  width: 1433px;
  height: 897px;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  #info_copy {
    top: 2284.5px;
    left: 169.5px;
    width: 1074.75px;
    height: 672.75px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  #info_copy {
    top: 2030.66666667px;
    left: 150.66666667px;
    width: 955.33333333px;
    height: 598px;
  }
}
#pocket_articles {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 700px;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  #pocket_articles {
    height: 525px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  #pocket_articles {
    height: 466.66666667px;
  }
}
.portfolio-item-content iframe {
  width: 800px;
  height: 600px;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  .portfolio-item-content iframe {
    width: 600px;
    height: 450px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .portfolio-item-content iframe {
    width: 533.33333333px;
    height: 400px;
  }
}
.portfolio-card {
  text-align: center;
  margin-bottom: 15px;
  max-width: 250px;
  background-color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  padding-bottom: 10px;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  .portfolio-card {
    margin-bottom: 11.25px;
    max-width: 187.5px;
    padding-bottom: 7.5px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .portfolio-card {
    margin-bottom: 10px;
    max-width: 166.66666667px;
    padding-bottom: 6.66666667px;
  }
}
.portfolio-card img.landscape {
  max-width: 250px;
  height: auto;
  margin-bottom: 5px;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  .portfolio-card img.landscape {
    max-width: 187.5px;
    margin-bottom: 3.75px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .portfolio-card img.landscape {
    max-width: 166.66666667px;
    margin-bottom: 3.33333333px;
  }
}
.portfolio-card img.portrait {
  max-height: 250px;
  width: auto;
  margin-bottom: 5px;
}
@media (min-width: 1440px) and (max-width: 1919px) {
  .portfolio-card img.portrait {
    max-height: 187.5px;
    margin-bottom: 3.75px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .portfolio-card img.portrait {
    max-height: 166.66666667px;
    margin-bottom: 3.33333333px;
  }
}
