body {
  margin: 0 0 0 0;
  overflow-y: hidden;
  position: relative;
  font-family: "Times New Roman", Times, serif;

  /*overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;*/

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
#contact_text {
  font-weight: bold;
}
#container {
  width: 7740px;
  height: 980px;
  display: block;
  position: relative;
  overflow-x: hidden;
}
#popup_banner {
  z-index: 5000;
  position: absolute;
  background-color: #000;
  color: #fff;
  display: none;
  /*border:dotted 4px #000000;*/
}
.popup-slideshow {
  z-index: 5000;
  position: absolute;
  background-color: #fff;
  color: #000;
  display: none;
  /*border:dotted 4px #000000;*/
}
.popup-slideshow .popup-controls.top-controls {
  position: absolute;
  top: 0;
}
.popup-slideshow .popup-controls.center-controls {
  position: absolute;
  top: 50%;
}
.popup-slideshow .popup-controls i,
.popup-slideshow .popup-controls i:hover {
  padding: 10px 15px 0px 0px;
  cursor: pointer;
  color: #000;
  opacity: 1;
  font-size: 24px;
}
.popup-slideshow .popup-controls span.title,
.popup-slideshow .popup-controls span.indicator {
  padding: 10px 0px 0px 15px;
  cursor: pointer;
  color: #fff;
  opacity: 1;
  font-size: 24px;
}
.popup-slideshow-slide {
  display:none;
  position: absolute;
  text-align: center;
  /*padding: 25px;*/
}
.popup-slideshow .caption {
  margin-top: 5px;
  text-align: center;
}
#popup_banner p {
  font-size: 21px;
}
#popup_banner li {
  font-size: 19px;
  margin-bottom: 12px;
}
#popup_banner .popup-controls i,
#popup_banner .popup-controls i:hover {
  padding: 10px 15px 0px 0px;
  cursor: pointer;
  color: #fff;
  opacity: 1;
  font-size: 24px;
}
.object, .text {
  position: absolute;
  display: block;
  z-index: 1;
}
.text p {
  font-size: 14px;
}
#contact_text p {
  background-color: rgba(255,255,255,0.8);
}
.slide-in {
  opacity: 0
}
.click-scroll, .popup-banner-trigger, .popup-slideshow-trigger {
  cursor: pointer;
}
.flicker {
  opacity: 0;
}
img.hotspot {
  opacity: 0;
  cursor: pointer;
}
.popup-content {
  display: none;
}
.row {
  margin: 0;
}
.pull-right {
  text-align: right;
}
.hidden {
  display: none;
}
