body {
  background-color: #000;
  color: #fff;
  margin: 0 0 0 0;
  position: relative;

  /*overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;*/

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.row {
  margin: 0;
}
.btn-great-outline {
    color: #ec287b;
    background-color: transparent;
    background-image: none;
    border-color: #ec287b;
}
.btn-great-outline:hover {
    color: #fff;
    background-color: #ec287b;
    border-color: #ec287b;
}
.img-round-corners {
  border-top-left-radius:2em;
  border-bottom-right-radius:2em;
}
#great_button {
  padding: 0.6rem 1.8rem;
}
#contact_text {
  font-weight: bold;
}
#container {
  width: 1920px;
  height: 4320px;
  display: block;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
.gallery-controls {
  vertical-align: middle;
}
.gallery-controls i,
.gallery-controls i:hover {
  color: #fff;
  opacity: 1;
  font-size: 24px;
  padding: 0px 0px 10px 10px;
  margin: 0;
}
.slides-gallery-trigger {
  cursor: pointer;
}
#portfolio_gallery img {
  max-width: 95%;
  max-height: 80%;
}
#portfolio_trigger_gallery.active {
  url:('/img/portfolio_trigger_gallery_hover.png')
}
#portfolio_trigger_instagram.active {
  url:('/img/portfolio_trigger_instagram_hover.png')
}
.object, .text {
  position: absolute;
  display: block;
  z-index: 1;
}
.text p {
  font-size: 14px;
}
#contact_text p {
  background-color: rgba(255,255,255,0.8);
}
.slide-in {
  opacity: 0
}
.click-scroll, .popup-banner-trigger, .popup-slideshow-trigger {
  cursor: pointer;
}
.flicker {
  opacity: 0;
}
img.hotspot {
  opacity: 0;
  cursor: pointer;
}
.popup-content {
  display: none;
}
.pull-right {
  text-align: right;
}
.hidden {
  display: none;
}
@media screen and (max-width: 800px) {
    body {
        /*background-color: lightgreen;*/
    }
    #popup_banner p {
      font-size: 18px;
    }
    .text p {
      font-size: 12px;
    }
    #popup_banner li {
      font-size: 14px;
      margin-bottom: 9px;
    }
    h1 {
      font-size: 1.8rem;
    }
}
