{% extends 'layout.html.twig' %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block content %}
    {{ parent() }}
    <br />
      <div class="row">
        <div class="col-xl-12">
            <h2 class="card-title">Gallery</h2>
        </div>
      </div>
      <div class="row card-columns">
        {% for content in gallery.content %}
          {% include "partials/gallery_content_thumbnail.html.twig" %}
        {% endfor %}
      </div>
{% endblock %}
