{% extends 'layout.html.twig' %}
{% block title %}{% endblock %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block content %}
    {{ parent() }}
    <div class="row container-fluid content-container" id="mount"></div>
{% endblock %}


{% block includes %}
  <!-- js includes -->
  <script type="text/javascript" src="/js/pages/app.js"></script>
{% endblock %}
