{% extends 'layout.html.twig' %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block content %}
    {{ parent() }}
    <ol class="breadcrumb">
        <li class="active">LikeDrop</li>
    </ol>
    <div class="row container-fluid">
        <div class="card col-xs-3 col-lg-1">
            <div class="card-block">
                <img src="/img/service/flickr/logo_sm.png" class="service-logo"/> Flickr
                {% if flickr_user == "" %}
                    <a href="/service/flickr/authorize" class="btn btn-secondary-outline btn-sm">Connect</a>
                {% else %}
                    <a href="/service/flickr/authorize" class="btn btn-success btn-sm">Connected</a>
                {% endif %}
            </div>
        </div>
        <div class="card col-xs-3 col-lg-1">
            <div class="card-block">
                <img src="/img/service/gdrive/logo_sm.png" class="service-logo"/> Google
                {% if gdrive_user == "" %}
                    <a href="/service/gdrive/authorize" class="btn btn-secondary-outline btn-sm">Connect</a>
                {% else %}
                    <a href="/service/gdrive/authorize" class="btn btn-success btn-sm">Connected</a>
                {% endif %}
            </div>
        </div>
        <div class="card col-xs-3 col-lg-1">
            <div class="card-block">
                <img src="/img/service/pocket/logo_sm.png" class="service-logo"/> Pocket
                {% if pocket_user == "" %}
                    <a href="/service/pocket/authorize" class="btn btn-secondary-outline btn-sm">Connect</a>
                {% else %}
                    <a href="/service/pocket/authorize" class="btn btn-success btn-sm">Connected</a>
                {% endif %}
            </div>
        </div>
        <div class="card col-xs-3 col-lg-1">
            <div class="card-block">
                <img src="/img/service/spotify/logo_sm.png" class="service-logo"/> Spotify
                {% if spotify_user == "" %}
                    <a href="/service/spotify/authorize" class="btn btn-secondary-outline btn-sm">Connect</a>
                {% else %}
                    <a href="/service/spotify/authorize" class="btn btn-success btn-sm">Connected</a>
                {% endif %}
            </div>
        </div>
        <div class="card col-xs-3 col-lg-1">
            <div class="card-block">
                <img src="/img/service/vimeo/logo_sm.png" class="service-logo"/> Vimeo
                {% if vimeo_user == "" %}
                    <a href="/service/vimeo/authorize" class="btn btn-secondary-outline btn-sm">Connect</a>
                {% else %}
                    <a href="/service/vimeo/authorize" class="btn btn-success btn-sm">Connected</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


{% block includes %}
  <!-- js includes -->
  <script type="text/javascript" src="/js/pages/account.js"></script>
{% endblock %}
