{% extends 'layout.html.twig' %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block content %}
    {{ parent() }}
    <div class="col-xs-4">
        <form id="login_form">
            <fieldset class="form-group row">
                <div class="col-xs-12 pull-right">
                    <h1>Sign in, honcho</h1>
                </div>
            </fieldset>
            <fieldset class="form-group row">
                <label for="username" class="col-xs-2">Username</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="username" placeholder="Enter username">
                    <small class="text-muted">E.g.: twerkdolphin884</small>
                </div>
            </fieldset>
            <fieldset class="form-group row">
                <label for="password" class="col-xs-2">Password</label>
                <div class="col-xs-10">
                    <input type="password" class="form-control" id="password" placeholder="Enter password">
                    <small class="text-muted">E.g.: whygodwhy1234</small>
                </div>
            </fieldset>
            <fieldset class="form-group row">
                <label for="password" class="col-xs-2">&nbsp;</label>
                <div class="col-xs-10 pull-right">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}


{% block includes %}
  <!-- js includes -->
  <script type="text/javascript" src="/js/pages/login.js"></script>
{% endblock %}
