{% extends 'layout.html.twig' %}
{% block title %} - Projects{% endblock %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block content %}
    {{ parent() }}
    <ol class="breadcrumb">
        <li class="active">Projects</li>
    </ol>
    <br />
    <div class="row container-fluid content-container" id="appContainer"></div>
{% endblock %}


{% block includes %}
  <!-- js includes -->
  <script type="text/javascript">
    var projects = {{projects|json_encode|raw}};
  </script>
  <script type="text/javascript" src="/js/pages/projects.js"></script>
{% endblock %}
