{% extends 'layout.html.twig' %}
{% block title %} - Scripts{% endblock %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block content %}
    {{ parent() }}
    <ol class="breadcrumb">
        <li class="active">Scripts</li>
    </ol>
    <br />
    <div class="row container-fluid content-container">
        {% for script in scripts %}
            <a href="/script/{{script.id}}">{{script.title}}</a><br />
        {% endfor %}
    </div>
{% endblock %}


{% block includes %}
  <!-- js includes -->
  <script type="text/javascript" src="/js/pages/scripts.js"></script>
{% endblock %}
