<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>ExplosionCorp{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/themes/flick/jquery-ui.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
        <link rel="stylesheet" href="/css/bootstrap-social.css">
        <link rel="stylesheet" href="/css/app.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800,700" rel="stylesheet" type="text/css">
        {% block head %}{% endblock %}
    </head>
<body>
    <div class="container-fluid">
        {% if securityContext.username %}
            <div class="col-xs-12 text-align-right security-context-nav">
                <div class="btn-group">
                    <span class="muted">{{securityContext.username}}</span>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary-outline btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Projects</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/projects">All Projects</a>
                        <a class="dropdown-item" href="/project/create">New Project</a>
                    </div>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary-outline btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">LikeDrop</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/likedrop/gdrive"><img src="/img/service/gdrive/logo_sm.png" class="service-logo"/>Google Drive</a>
                        <a class="dropdown-item" href="/likedrop/pocket"><img src="/img/service/pocket/logo_sm.png" class="service-logo"/>Pocket</a>
                        <a class="dropdown-item" href="/likedrop/youtube"><img src="/img/service/youtube/logo_sm.png" class="service-logo"/>YouTube</a>
                    </div>
                </div>
                <div class="btn-group">
                    <a href="/logout" title="Logout" class="btn btn-secondary-outline btn-sm">Logout</a>
                </div>
            </div>
        {% elseif section != "login" %}
            <div class="col-xs-12 pull-right">
                <a href="/login" title="Login" class="btn btn-success-outline btn-sm">Login</a>
            </div>
        {% endif %}
    </div>
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
    <div id="explosioncorp-modal">
        <div id="explosioncorp-modal-content-container">
            <div class="row container-fluid text-align-right">
                <a class="btn btn-sm btn-danger-outline" id="explosioncorp-modal-close">close</a>
            </div>
            <div class="row container-fluid">
                <div id="explosioncorp-modal-content"></div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
    <script src="https://npmcdn.com/packery@2.1/dist/packery.pkgd.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.2.2/showdown.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.3/jquery.timeago.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>
    <script type="text/javascript" src="/js/library/notify.min.js"></script>
    <script type="text/javascript" src="/js/library/greensock/plugins/Physics2DPlugin.min.js"></script>
    <script type="text/javascript" src="/js/library/greensock/plugins/ScrollToPlugin.min.js"></script>
    {% block includes %}{% endblock %}
</body>
</html>
