<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>LikeDrop Pocket Email</title>
        {% block head %}{% endblock %}
    </head>
<body>
    <div class="header"><h1>LikeDrop</h1></div>
    <div class="body">
    {% block content %}{% endblock %}
    </div>
    <div class="footer">Email Footer</div>
    {% block includes %}{% endblock %}
</body>
</html>
