<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>LikeDrop Email</title>
        {% block head %}{% endblock %}
    </head>
<body>
    <div class="row header"></div>
    <div class="row body">
    {% block content %}{% endblock %}
    </div>
    <div class="row footer">footer</div>
    {% block includes %}{% endblock %}
</body>
</html>
