<div class="card col-lg-6">
    <a href="/gallery/{{content.title|slugify}}"><img class="card-img-top" src="{{content.thumbnail}}"/></a>
    <div class="card-block">
        <h2 class="card-title">{{content.title}}</h2>
    </div>
</div>
