@baseBlue: #2075A0;
body {
  font-family: 'Open Sans', sans-serif;
  background-color: @baseBlue;
}

.card.clickable {
    cursor: pointer;
    &:hover {
        background-color: #e5e5e5;
    }
}

.card.col-lg-6:nth-child(2n+1) {
    clear:both;
}

.card img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) and (min-width: 0px) {

}
