@baseBlue: #2075A0;
body {
  font-family: 'Open Sans', sans-serif;
  background-color: @baseBlue;
}

.clickable {
    cursor: pointer;
}

@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) and (min-width: 0px) {

}
