/* LESS Document */

a, a:hover, a:visited {
    cursor: pointer;
    color: #E7120E;
}
body {
	background-color: #000;
	color: #FFF;
    overflow-x: hidden;
}
.btn-xs {
    padding: .18rem .35rem;
    font-size: .7rem;
    line-height: 1.5;
    border-radius: .2rem;
}
.col-lg-2:nth-child(5n+1) {
    clear:both;
}
.col-xs-2:nth-child(5n+1) {
    clear:both;
}
.col-lg-3:nth-child(4n+1) {
    clear:both;
}
.col-xs-3:nth-child(4n+1) {
    clear:both;
}
.contact-info i {
    color: #f5b20a;
}
.contact-info .col-xs-1 {
  text-align: right;
  padding: 0px 10px 0px 0px;
}
.img-round-corners {
    border-top-left-radius:2em;
    border-bottom-right-radius:2em;
}
.contact-info .col-xs-10 {
  text-align: left;
  padding-left: 0;
}
.object {
	position: absolute;
}
.pocket-article {
    background-color: rgba(0,0,0,0.7);
    padding: 5px;
    margin-bottom: 15px;
}
.portfolio-breadcrumb {
    background-color: rgba(0,0,0,0.7);
    padding: 10px;
    margin-bottom: 15px;
    text-align: left;
    .btn {
        margin-left: 5px;
    }
}
.subtitle {
    color: #f5b20a;
}
.text-align-center {
    text-align: center;
}
@scale-1440: (1440 / 1920);

@media (min-width: 1920px){
	#intro_hydrant {
		top: 41px;
		left: 309px;
		width: 1301px;
      	height: 756px;
		.object;
        .img-round-corners;
	}
    #intro_shoes {
		top: 0px;
		left: 1219px;
		width: 377px;
      	height: 583px;
		.object;
	}
    #intro_signature {
		top: 0px;
		left: 36px;
		width: 893px;
      	height: 381px;
		.object;
	}
    #intro_tagline {
		top: 460px;
		left: 1060px;
		width: 592px;
      	height: 368px;
		.object;
	}
    .image-display {
        max-height: 725px
    }
    #great_button {
		top: 672px;
		left: 857px;
		.object;
	}
    #portfolio_background {
		top: 863px;
		left: 0px;
		width: 1919px;
      	height: 1024px;
		.object;
        .img-round-corners;
	}
    #portfolio_title_parallax02 {
		top: 855px;
		left: 175px;
		width: 273px;
      	height: 83px;
		.object;
	}
    #portfolio_title_parallax01 {
		top: 850px;
		left: 169px;
		width: 288px;
      	height: 87px;
		.object;
	}
    #portfolio_title {
		top: 846px;
		left: 161px;
		width: 303px;
      	height: 91px;
		.object;
	}
    #portfolio_neonsign01 {
		top: 1650px;
		left: 78px;
		width: 174px;
      	height: 214px;
		.object;
	}
    #portfolio_neonsign02 {
		top: 1513px;
		left: 257px;
		width: 214px;
      	height: 244px;
		.object;
	}
    #portfolio {
		top: 990px;
		left: 0px;
		width: 1900px;
      	height: 800px;
        overflow-x: hidden;
        overflow-y: auto;
		.object;
	}
    #whatido_background {
		top: 2016px;
		left: 203px;
		width: 1514px;
      	height: 862px;
		.object;
        .img-round-corners;
	}
    #whatido_title_parallax02 {
		top: 1942px;
		left: 185px;
		width: 394px;
      	height: 101px;
		.object;
	}
    #whatido_title_parallax01 {
		top: 1939px;
		left: 174px;
		width: 416px;
      	height: 107px;
		.object;
	}
    #whatido_title {
		top: 1936px;
		left: 163px;
		width: 438px;
      	height: 113px;
		.object;
	}
    #whatido_copy {
		top: 2016px;
		left: 203px;
		width: 1514px;
      	height: 862px;
		.object;
	}
    #whatido_copy_markup,
    #info_copy_markup {
        top: 8%;
        padding: 60px;
        text-shadow: 1px 2px 4px #000;
    }
    #info_background {
		top: 3046px;
		left: 226px;
		width: 1433px;
      	height: 897px;
		.object;
        .img-round-corners;
	}
    #info_title_parallax02 {
		top: 2987px;
		left: 183px;
		width: 357px;
      	height: 134px;
		.object;
	}
    #info_title_parallax01 {
		top: 2983px;
		left: 173px;
		width: 377px;
      	height: 140px;
		.object;
	}
    #info_title {
		top: 2977px;
		left: 163px;
		width: 397px;
      	height: 148px;
		.object;
	}
    #info_copy {
		top: 3046px;
		left: 226px;
		width: 1433px;
      	height: 897px;
		.object;
	}
    #pocket_articles {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 700px;
    }
    .portfolio-card {
        text-align: center;
        margin-bottom: 15px;
		max-width: 250px;
        background-color: rgba(0,0,0,0.7);
		display: inline-block;
        padding-bottom: 10px;
        img.landscape {
            max-width: 250px;
            height: auto;
            margin-bottom:5px;
        }
        img.portrait {
            max-height: 250px;
            width: auto;
            margin-bottom: 5px;
        }
    }
}
@media (min-width: 1440px) and (max-width: 1919px){
	#intro_hydrant {
		top: @scale-1440 * 41px;
		left: @scale-1440 * 309px;
		width: @scale-1440 * 1301px;
      	height: @scale-1440 * 756px;
		.object;
        .img-round-corners;
	}
    #intro_shoes {
		top: @scale-1440 * 0px;
		left: @scale-1440 * 1219px;
		width: @scale-1440 * 377px;
      	height: @scale-1440 * 583px;
		.object;
	}
    #intro_signature {
		top: @scale-1440 * 0px;
		left: @scale-1440 * 36px;
		width: @scale-1440 * 893px;
      	height: @scale-1440 * 381px;
		.object;
	}
    #intro_tagline {
		top: @scale-1440 * 460px;
		left: @scale-1440 * 1060px;
		width: @scale-1440 * 592px;
      	height: @scale-1440 * 368px;
		.object;
	}
    .image-display {
        max-height: @scale-1440 * 725px
    }
    #great_button {
		top: @scale-1440 * 672px;
		left: @scale-1440 * 857px;
		.object;
	}
    #portfolio_background {
		top: @scale-1440 * 863px;
		left: @scale-1440 * 0px;
		width: @scale-1440 * 1919px;
      	height: @scale-1440 * 1024px;
		.object;
        .img-round-corners;
	}
    #portfolio_title_parallax02 {
		top: @scale-1440 * 855px;
		left: @scale-1440 * 175px;
		width: @scale-1440 * 273px;
      	height: @scale-1440 * 83px;
		.object;
	}
    #portfolio_title_parallax01 {
		top: @scale-1440 * 850px;
		left: @scale-1440 * 169px;
		width: @scale-1440 * 288px;
      	height: @scale-1440 * 87px;
		.object;
	}
    #portfolio_title {
		top: @scale-1440 * 846px;
		left: @scale-1440 * 161px;
		width: @scale-1440 * 303px;
      	height: @scale-1440 * 91px;
		.object;
	}
    #portfolio_neonsign01 {
		top: @scale-1440 * 1650px;
		left: @scale-1440 * 78px;
		width: @scale-1440 * 174px;
      	height: @scale-1440 * 214px;
		.object;
	}
    #portfolio_neonsign02 {
		top: @scale-1440 * 1513px;
		left: @scale-1440 * 257px;
		width: @scale-1440 * 214px;
      	height: @scale-1440 * 244px;
		.object;
	}
    #portfolio {
		top: @scale-1440 * 990px;
		left: @scale-1440 * 0px;
		width: @scale-1440 * 1900px;
      	height: @scale-1440 * 800px;
        overflow-x: hidden;
        overflow-y: auto;
		.object;
	}
    #whatido_background {
		top: @scale-1440 * 2016px;
		left: @scale-1440 * 203px;
		width: @scale-1440 * 1514px;
      	height: @scale-1440 * 862px;
		.object;
        .img-round-corners;
	}
    #whatido_title_parallax02 {
		top: @scale-1440 * 1942px;
		left: @scale-1440 * 185px;
		width: @scale-1440 * 394px;
      	height: @scale-1440 * 101px;
		.object;
	}
    #whatido_title_parallax01 {
		top: @scale-1440 * 1939px;
		left: @scale-1440 * 174px;
		width: @scale-1440 * 416px;
      	height: @scale-1440 * 107px;
		.object;
	}
    #whatido_title {
		top: @scale-1440 * 1936px;
		left: @scale-1440 * 163px;
		width: @scale-1440 * 438px;
      	height: @scale-1440 * 113px;
		.object;
	}
    #whatido_copy {
		top: @scale-1440 * 2016px;
		left: @scale-1440 * 203px;
		width: @scale-1440 * 1514px;
      	height: @scale-1440 * 862px;
		.object;
	}
    #whatido_copy_markup,
    #info_copy_markup {
        top: 8%;
        padding: 40px;
        text-shadow: 1px 2px 4px #000;
    }
    #info_background {
		top: @scale-1440 * 3046px;
		left: @scale-1440 * 226px;
		width: @scale-1440 * 1433px;
      	height: @scale-1440 * 897px;
		.object;
        .img-round-corners;
	}
    #info_title_parallax02 {
		top: @scale-1440 * 2987px;
		left: @scale-1440 * 183px;
		width: @scale-1440 * 357px;
      	height: @scale-1440 * 134px;
		.object;
	}
    #info_title_parallax01 {
		top: @scale-1440 * 2983px;
		left: @scale-1440 * 173px;
		width: @scale-1440 * 377px;
      	height: @scale-1440 * 140px;
		.object;
	}
    #info_title {
		top: @scale-1440 * 2977px;
		left: @scale-1440 * 163px;
		width: @scale-1440 * 397px;
      	height: @scale-1440 * 148px;
		.object;
	}
    #info_copy {
		top: @scale-1440 * 3046px;
		left: @scale-1440 * 226px;
		width: @scale-1440 * 1433px;
      	height: @scale-1440 * 897px;
		.object;
	}
    #pocket_articles {
        overflow-y: scroll;
        overflow-x: hidden;
        height: @scale-1440 * 700px;
    }
    .portfolio-card {
        text-align: center;
        margin-bottom: @scale-1440 * 15px;
        max-width: @scale-1440 * 250px;
        background-color: rgba(0,0,0,0.7);
        display: inline-block;
        padding-bottom: @scale-1440 * 10px;
        img.landscape {
            max-width: @scale-1440 * 250px;
            height: auto;
            margin-bottom: @scale-1440 * 5px;
        }
        img.portrait {
            max-height: @scale-1440 * 250px;
            width: auto;
            margin-bottom: @scale-1440 * 5px;
        }
    }
}
